<!DOCTYPE html>
<!--
Index del parcial 1
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Parcia_1</title>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        
        <img src="https://media.gq.com.mx/photos/5ff4909934f0ef41de7cf420/16:9/w_2560%2Cc_limit/FOTO%2520PORTADA.jpg" 
             class="d-block w-100" alt="Bikes" height="500" />
        
        <footer th:replace="~{layout/plantilla :: footer}" />
    </body>
</html>
